<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="__PUBLIC_PIPACKER__/pipacker/libarary/Bootstrap3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="__PUBLIC_PIPACKER__/pipacker/css/mainpage.css">
</head>
<body>
	<div class="container">
		<div class="head_img">
			<div class="header_img">
				<a href="">
					<img src="__PUBLIC_PIPACKER__/pipacker/images/headImg.jpg" class="imgwidth">
				</a>
				<p class="header_author">© Yucel Basoglu</p>
			</div>
		</div>
		<div class="show_img">
			
		</div>
		<div class="more_img">
			
		</div>
	</div>



	<script src="__PUBLIC_PIPACKER__/pipacker/libarary/Bootstrap3.3.7/js/bootstrap.min.js"></script>
	<script src="__PUBLIC_PIPACKER__/pipacker/libarary/Bootstrap3.3.7/js/jquery-1.11.1.min.js"></script>
</body>
</html>