
<header class="pp_header">
		<div class="row">
			<div class="col-md-2 logo"><h2>pipacker</h2></div>
			<div class="col-md-7 mune">
				<ul>
					<li>作品</li>
					<li>图片</li>
					<li><a href="index">技巧</a></li>
					<li class="pp_down_menu">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">更多<span class="caret"></a>
						<ul class="dropdown-menu">
				            <li>行为</li>
				            <li>行为</li>
				            <li>行为</li>
				            <li>行为k</li>
				            <li>为行卫星</li>
				          </ul>
					</li>
				</ul>
			</div>
			<div class="col-md-2 search"><input type="text" class="search_input" placeholder="搜索"></div>
			<div class="col-md-1 support">
				<span class="glyphicon glyphicon-envelope"></span>
				<span class="glyphicon glyphicon-envelope"></span>
				<span class="glyphicon glyphicon-envelope"></span>
			</div>
		</div>
	</header>