
<header class="pp_header">
		<div class="row">
			<div class="col-md-2 logo"><h2><a href="__PUBLIC__/mainpage">pipacker</a></h2></div>
			<div class="col-md-7 mune">
				<ul>
					<li><a href="__PUBLIC__/photography">作品</a></li>
					<li><a href="__PUBLIC__/prints">图片</a></li>
					<li><a href="__PUBLIC__/prints/pgskill">技巧</a></li>
					<li class="pp_down_menu">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">更多<span class="caret"></a>
						<ul class="dropdown-menu nav_more">
				            <li><a href="__PUBLIC__/prints">影像圈</a></li>
				            <li><a href="__PUBLIC__/impression">印象杂志</a></li>
				            <li><a href="__PUBLIC__/dialogue">对话</a></li>
				            <li><a href="__PUBLIC__/prints">极限摄影</a></li>
				          </ul>
					</li>
				</ul>
			</div>
			<div class="col-md-2 search"><input type="text" class="search_input" placeholder="搜索"></div>
			<div class="col-md-1 support">
					<span class="glyphicon glyphicon-globe"></span>
					<span class="glyphicon glyphicon-envelope"></span>
					<span class="glyphicon glyphicon-user"></span>
			</div>
		</div>
	</header>