
<div class="tab-content">
	<div role="tabpanel" class="tab-pane active show_img_list" id="tab1">
				<div class="row">
					<div class="col-lg-4">
						<a href="">
							<img src="__PUBLIC_PIPACKER__/pipacker/images/1.jpg" alt="">
							<p>© 唐著</p>
						</a>
					</div>
					<div class="col-lg-4">
						<a href="">
							<img src="__PUBLIC_PIPACKER__/pipacker/images/2.jpg" alt="">
							<p>© 唐著</p>
						</a>
					</div>
					<div class="col-lg-4">
						<a href="">
							<img src="__PUBLIC_PIPACKER__/pipacker/images/3.jpg" alt="">
							<p>© 唐著</p>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4">
						<a href="">
							<img src="__PUBLIC_PIPACKER__/pipacker/images/4.jpg" alt="">
							<p>© 唐著</p>
						</a>
					</div>
					<div class="col-lg-4">
						<a href="">
							<img src="__PUBLIC_PIPACKER__/pipacker/images/5.jpg" alt="">
							<p>© 唐著</p>
						</a>
					</div>
					<div class="col-lg-4">
						<a href="">
							<img src="__PUBLIC_PIPACKER__/pipacker/images/6.jpg" alt="">
							<p>© 唐著</p>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4">
						<a href="">
							<img src="__PUBLIC_PIPACKER__/pipacker/images/7.jpg" alt="">
							<p>© 唐著</p>
						</a>
					</div>
					<div class="col-lg-4">
						<a href="">
							<img src="__PUBLIC_PIPACKER__/pipacker/images/8.jpg" alt="">
							<p>© 唐著</p>
						</a>
					</div>
					<div class="col-lg-4">
						<a href="">
							<img src="__PUBLIC_PIPACKER__/pipacker/images/9.jpg" alt="">
							<p>© 唐著</p>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4">
						<a href="">
							<img src="__PUBLIC_PIPACKER__/pipacker/images/10.jpg" alt="">
							<p>© 唐著</p>
						</a>
					</div>
					<div class="col-lg-4">
						<a href="">
							<img src="__PUBLIC_PIPACKER__/pipacker/images/11.jpg" alt="">
							<p>© 唐著</p>
						</a>
					</div>
					<div class="col-lg-4">
						<a href="">
							<img src="__PUBLIC_PIPACKER__/pipacker/images/12.jpg" alt="">
							<p>© 唐著</p>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4">
						<a href="">
							<img src="__PUBLIC_PIPACKER__/pipacker/images/13.jpg" alt="">
							<p>© 唐著</p>
						</a>
					</div>
					<div class="col-lg-4">
						<a href="">
							<img src="__PUBLIC_PIPACKER__/pipacker/images/14.jpg" alt="">
							<p>© 唐著</p>
						</a>
					</div>
					<div class="col-lg-4">
						<a href="">
							<img src="__PUBLIC_PIPACKER__/pipacker/images/15.jpg" alt="">
							<p>© 唐著</p>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4">
						<a href="">
							<img src="__PUBLIC_PIPACKER__/pipacker/images/16.jpg" alt="">
							<p>© 唐著</p>
						</a>
					</div>
					<div class="col-lg-4">
						<a href="">
							<img src="__PUBLIC_PIPACKER__/pipacker/images/17.jpg" alt="">
							<p>© 唐著</p>
						</a>
					</div>
					<div class="col-lg-4">
						<a href="">
							<img src="__PUBLIC_PIPACKER__/pipacker/images/18.jpg" alt="">
							<p>© 唐著</p>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4">
						<a href="">
							<img src="__PUBLIC_PIPACKER__/pipacker/images/19.jpg" alt="">
							<p>© 唐著</p>
						</a>
					</div>
					<div class="col-lg-4">
						<a href="">
							<img src="__PUBLIC_PIPACKER__/pipacker/images/20.jpg" alt="">
							<p>© 唐著</p>
						</a>
					</div>
					<div class="col-lg-4">
						<a href="">
							<img src="__PUBLIC_PIPACKER__/pipacker/images/21.jpg" alt="">
							<p>© 唐著</p>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4">
						<a href="">
							<img src="__PUBLIC_PIPACKER__/pipacker/images/22.jpg" alt="">
							<p>© 唐著</p>
						</a>
					</div>
					<div class="col-lg-4">
						<a href="">
							<img src="__PUBLIC_PIPACKER__/pipacker/images/23.jpg" alt="">
							<p>© 唐著</p>
						</a>
					</div>
					<div class="col-lg-4">
						<a href="">
							<img src="__PUBLIC_PIPACKER__/pipacker/images/24.jpg" alt="">
							<p>© 唐著</p>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4">
						<a href="">
							<img src="__PUBLIC_PIPACKER__/pipacker/images/25.jpg" alt="">
							<p>© 唐著</p>
						</a>
					</div>
					<div class="col-lg-4">
						<a href="">
							<img src="__PUBLIC_PIPACKER__/pipacker/images/26.jpg" alt="">
							<p>© 唐著</p>
						</a>
					</div>
					<div class="col-lg-4">
						<a href="">
							<img src="__PUBLIC_PIPACKER__/pipacker/images/27.jpg" alt="">
							<p>© 唐著</p>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4">
						<a href="">
							<img src="__PUBLIC_PIPACKER__/pipacker/images/28.jpg" alt="">
							<p>© 唐著</p>
						</a>
					</div>
					<div class="col-lg-4">
						<a href="">
							<img src="__PUBLIC_PIPACKER__/pipacker/images/29.jpg" alt="">
							<p>© 唐著</p>
						</a>
					</div>
					<div class="col-lg-4">
						<a href="">
							<img src="__PUBLIC_PIPACKER__/pipacker/images/30.jpg" alt="">
							<p>© 唐著</p>
						</a>
					</div>
				</div>
			</div>
	<div role="tabpanel" class="tab-pane" id="tab2">
		22
	</div>
	<div role="tabpanel" class="tab-pane" id="tab3">
		<div class="followers row" style="padding: 0 200px; margin-top: 80px; overflow: hidden; margin-bottom: 50px;">
			<div class="col-md-4" style="margin-bottom: 30px;">
				<img src="__PUBLIC_PIPACKER__/pipacker/images/29.jpg" width="160" height="160">
				<p style="color: #ddd; font-size: 22px; font-family: '宋体'; padding-top: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%;">傻子</p>
			</div>
			<div class="col-md-4" style="margin-bottom: 30px;">
				<img src="__PUBLIC_PIPACKER__/pipacker/images/29.jpg" width="160" height="160">
				<p style="color: #ddd; font-size: 22px; font-family: '宋体'; padding-top: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%;">白痴</p>
			</div>
			<div class="col-md-4" style="margin-bottom: 30px;">
				<img src="__PUBLIC_PIPACKER__/pipacker/images/29.jpg" width="160" height="160">
				<p style="color: #ddd; font-size: 22px; font-family: '宋体'; padding-top: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%;">智障</p>
			</div>
			<div class="col-md-4" style="margin-bottom: 30px;">
				<img src="__PUBLIC_PIPACKER__/pipacker/images/29.jpg" width="160" height="160">
				<p style="color: #ddd; font-size: 22px; font-family: '宋体'; padding-top: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%;">(╯‵□′)╯炸弹！•••*～●</p>
			</div>
			<div class="col-md-4" style="margin-bottom: 30px;">
				<img src="__PUBLIC_PIPACKER__/pipacker/images/29.jpg" width="160" height="160">
				<p style="color: #ddd; font-size: 22px; font-family: '宋体'; padding-top: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%;">全军出击(((ꎤ'ω')و三 ꎤ'ω')-o≡</p>
			</div>
			<div class="col-md-4" style="margin-bottom: 30px;">
				<img src="__PUBLIC_PIPACKER__/pipacker/images/29.jpg" width="160" height="160">
				<p style="color: #ddd; font-size: 22px; font-family: '宋体'; padding-top: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%;">发起进攻(　 ´-ω ･)▄︻┻┳══━一</p>
			</div>
			<div class="col-md-4" style="margin-bottom: 30px;">
				<img src="__PUBLIC_PIPACKER__/pipacker/images/29.jpg" width="160" height="160">
				<p style="color: #ddd; font-size: 22px; font-family: '宋体'; padding-top: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%;">ԅ(≖‿≖ԅ)咩咩咩流氓</p>
			</div>
			<div class="col-md-4" style="margin-bottom: 30px;">
				<img src="__PUBLIC_PIPACKER__/pipacker/images/29.jpg" width="160" height="160">
				<p style="color: #ddd; font-size: 22px; font-family: '宋体'; padding-top: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%;">|ω･`)暗中观察</p>
			</div>
			<div class="col-md-4" style="margin-bottom: 30px;">
				<img src="__PUBLIC_PIPACKER__/pipacker/images/29.jpg" width="160" height="160">
				<p style="color: #ddd; font-size: 22px; font-family: '宋体'; padding-top: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%;">(ꈍεꈍ (ꈍ□ꈍ (ꈍㅿꈍ (ꈍ罒ꈍ﹡)</p>
			</div>
		</div>
	</div>
	<div role="tabpanel" class="tab-pane" id="tab4">
		<div style="margin: 0 200px; text-align: left; position: relative; margin-top: 80px;">
			<div class="comment">
			<!-- <div class="introduction"> -->
				<!-- <h1 style="text-align: center;">你还没有写任何演示文稿。</h1>
				<button class="createInt" style="text-align: center;">写出你的风采</button>
				<button class="save_intro">保存</button>
				<textarea class="introduction_text"></textarea> -->
				<!-- 显示文章 -->
				<!-- <p class="show_intro_text">
					本书故事取材源自个人生活。
					整体趋于“极端分子在自来水厂投毒，游说上好公民施救、向极端分子解说‘越禁’的利弊”。首篇三十章主06至07年初堕落史，二篇二十三章主07至12年间（迎来十八大）的求生史。整体沿“舞蹈的魅力、欲望的膨胀”在发生，袒露客观存在的唯物主义。无杠版本约二十五万六千字，有杠版本约二十五万字。（注：杠版本在杠、斜杠密集处，已进行简化、注释。此为“成长”一完美契合点）首篇即“常见写作的成长”（堕落四部曲，一到十章尚有人性、前三章故事的发生。十一到十七章情境所迫的蜕变，十八到二十三章人性蜕变过程，二十四到三十章堕落直至车祸。成长三部曲，一到十七章常见写作的成长，十八到二十三章逐渐涉及心理学，二十四到三十章涉及哲学、心理学）。二篇主求生乞健，基于唯心主义行万里路（成长四部曲）。一到三章为一阶段（开启这种思维），四到十三章初步的成长，十四到二十一章逐渐进入社会学，二十二、二十三、后记进入社会学。（杠版本二十三、后记无杠）其主在“祸兮福所倚福兮祸所伏”（亦即迫于情境的“成长/崛起”），描写把写作当成唯一突破口的行万里路（“求乞历程”）。涵盖心理学、经济学、哲学（社会学），现代诗、现实兵法运用…。简述本书既“从常见写作，成长至社会学价值的研究”，亦即对当下生态、社会风气，现实“经济价值观”的“评估或估测”。激励人们“积极生活”，用坚强的意志去克服。
				</p>
			</div>
			<div class="comment">
				<h1 class="guestbook">留言板</h1> -->
				<textarea class="comment_text" placeholder="在这里写出你的评论"></textarea>
	        	<button class="comment_text_btn">写</button>
			</div>
			<div class="comment_container">
		        <div class="comment_connent">
			        <div class="media">
			            <div class="media-left">
			                <img class="media-object" src="__PUBLIC_PIPACKER__/pipacker/images/3.jpg" alt="">
			            </div>
			            <div class="media-body">
				            <h4 class="media-heading">Media heading<span style="font-size: 12px; color: #555; vertical-align: text-top; display: inline-block;position: absolute; right: 10px;">30分钟前</span></h4>
				            <p>....<!-- <span style="font-size: 12px; color: #555; vertical-align: text-top; display: inline-block;position: absolute; right: 10px;">30分钟前</span> --></p>
			            </div>
			        </div>
		        </div>
		        <div class="comment_connent">
		          <div class="media">
		            <div class="media-left">
		                <img class="media-object" src="__PUBLIC_PIPACKER__/pipacker/images/3.jpg" alt="">
		            </div>
		            <div class="media-body">
		              <h4 class="media-heading">Media heading<span style="font-size: 12px; color: #555; vertical-align: text-top; display: inline-block;position: absolute; right: 10px;">30分钟前</span></h4>
		              <p>....<!-- <span style="font-size: 12px; color: #555; vertical-align: text-top; display: inline-block;position: absolute; right: 10px;">30分钟前</span> --></p>
		            </div>
		          </div>
		        </div>
		        <div class="comment_connent">
		          <div class="media">
		            <div class="media-left">
		                <img class="media-object" src="__PUBLIC_PIPACKER__/pipacker/images/3.jpg" alt="">
		            </div>
		            <div class="media-body">
		              <h4 class="media-heading">Media heading<span style="font-size: 12px; color: #555; vertical-align: text-top; display: inline-block;position: absolute; right: 10px;">30分钟前</span></h4>
		              <p>....<!-- <span style="font-size: 12px; color: #555; vertical-align: text-top; display: inline-block;position: absolute; right: 10px;">30分钟前</span> --></p>
		            </div>
		          </div>
		        </div>
		        <div class="comment_connent">
		          <div class="media">
		            <div class="media-left">
		                <img class="media-object" src="__PUBLIC_PIPACKER__/pipacker/images/3.jpg" alt="">
		            </div>
		            <div class="media-body">
		              <h4 class="media-heading">Media heading<span style="font-size: 12px; color: #555; vertical-align: text-top; display: inline-block;position: absolute; right: 10px;">30分钟前</span></h4>
		              <p>....<!-- <span style="font-size: 12px; color: #555; vertical-align: text-top; display: inline-block;position: absolute; right: 10px;">30分钟前</span> --></p>
		            </div>
		          </div>
		        </div>
	      	</div>
		</div>
	</div>
</div>
